h1 {
    color: chocolate;
    font-size: 50px;
}

body {
    font-family: 'Merriweather', serif;
}

section {
    display: flex;
}

.first-sec-width {
    width: 50%;
    padding-left: 5%;
}

.first-sec-width img {
    width: 100%
}

.link-button {
    background-image: linear-gradient(chocolate, orange);
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
}